

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    }
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{

  display: grid;
  height: 100%;
  place-items: center;
}
.wrapper{
  width: 350px;
  background: #fff;
  border-radius: 10px;
 box-shadow: inset 0 0 1.0em 0 var(--clr-neon), 0 0 1.0em 0 var(--clr-neon);
 
}
.wrapper .title{
  color: #fff;
  line-height: 45px;
  text-align: center;
  background: #333;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px 10px 0 0;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
  
    
  
  
}
.wrapper .box{
  padding: 20px 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.wrapper .box label{
  display: flex;
  height: 53px;
  width: 100%;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  margin: 10px 0;
  padding-left: 20px;
  cursor: default;
  transition: all 0.1s ease;
}
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-4:checked ~ .option-4{
  background: var(--clr-neon);
  border-color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
}

#option-1a:link ~ .option-1 .text,
#option-2a:link ~ .option-2 .text,
#option-3a:link ~ .option-3 .text,
#option-4a:link ~ .option-4 .text{
  background: var(--clr-neon);
  border-color: var(--clr-neon);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}


.wrapper .box label .dot{
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
  
  
}
#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot,
#option-3:checked ~ .option-3 .dot,
#option-4:checked ~ .option-4 .dot{
  background: #fff;
}
#option-1a:link ~ .option-1 .text,
#option-2a:link ~ .option-2 .text,
#option-3a:link ~ .option-3 .text,
#option-4a:link ~ .option-4 .text{
  background: #fff;
}

.box label .dot::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before,
#option-4:checked ~ .option-4 .dot::before{
  background:var(--clr-neon);
  transform: translate(-50%, -50%) scale(1);
}
.wrapper .box label .text{
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-4:checked ~ .option-4 .text{
  color: #fff;
}
.wrapper .box input[type="radio"]{
  display: none;
}

#option-1a:link ~ .option-1 .text,
#option-2a:link ~ .option-2 .text,
#option-3a:link ~ .option-3 .text,
#option-4a:link ~ .option-4 .text{
  color: #fff;
}

#option-1a:link ~ .option-1 .text,
#option-2a:link ~ .option-2 .text,
#option-3a:link ~ .option-3 .text,
#option-4a:link ~ .option-4 .text{
  background:var(--clr-neon);
  transform: translate(-50%, -50%) scale(1);
}

.p1{
    font-size: 45px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 2px 20px;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
    
}



  
  
  .p1::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .p1:hover,
  .p1:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .p1:hover::before,
  .p1:focus::before {
    opacity: 1;
  }
  .p1:hover::after,
  .p1:focus::after {
    opacity: 1;
  }
  





  .p2{

          position: absolute;
          margin-top: 700px;
          font-size: 40px;
          color: var(--clr-neon);
          text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  }