

  :root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    }
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
     


div.cropper {
    width: 100%;
    height: 500px;
    overflow: hidden;

  }

  cropper > img {
    margin: -50px 0 0 -185px;
  }

img{
    width: 100%;
}

  ul{
      position: absolute;
  }

  caption{
    position: absolute;
}



body{
    background-color: #363534;
}


.titolo{
    margin: 23px;
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 1em;
}




p,h1,h3{
    color: white;
}




.titolo-secondario{
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    margin: 20px;
    color: whitesmoke;

}


.testo{

           font-size: 15px;
           margin: 20px;
           margin-left: 40px;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}



.titolo-terzario{
     
    font-family: 'Poppins', sans-serif;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    margin: 20px;
    color: whitesmoke;
    font-size: 30px;

}


  .container{
    z-index: 12;
    width: 360px;
    padding: 15px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  }

 
   

  .container input[type="text"]{
    width: 100%;
    height: 30px;
    margin: 0 3px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    pointer-events: none;
    background: transparent;
    
  }
  .container input[type="button"]{
    height: 30px;
    color: #fff;
    width: calc(100% / 4 - 5px);
    background: transparent;
    border-radius: 12px;
    margin-top: 15px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .container input[type="button"]:hover{
    background: rgba(255, 255, 255, 0.1);
  }




  .testo-secondario{
    font-family: 'Bebas Neue', cursive;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    color: whitesmoke;
    font-size: 30px;
  }


   .lista{
       color: white;
       text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
       text-decoration: none;
   }

   a{
    color: white;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    text-decoration: none;
   }


   ul{
         
          border: var(--clr-neon) 0.125em solid;
          padding: 0.25em 1em;
          border-radius: 0.25em;
          margin-left: 5px;
          box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
          padding-bottom: 20px;
   }





   video{
    
   

   margin-left: 200px;
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
   }